h2 {
    text-align: center;
}

.add {
    display: flex;
    justify-content: center;

    .form {
        width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    button {
        max-width: 20rem;
        align-self: center;
    }
}
