<ion-content ng-cloak>
    <ion-grid>
        <ion-row>
            <h2 class="title">
                {{ event.name }}
            </h2>
        </ion-row>

        <div class="event-info">
            <div class="image-container">
                <img [src]="event.imageUrl">
            </div>
            <div class="copy">
                <p><b>Address:</b> {{event.location}}</p>
                <p><b>People Going:</b> {{event.goingAmount}}</p>
                <p><b>Spaces Left:</b> {{event.spaceAmount}}</p>
            </div>
        </div>

        <app-chat-area [chatArea]="event.chatArea" [eventId]="id">
        </app-chat-area>
    </ion-grid>
</ion-content>
