.title {
    width: 100%;
    text-align: center;
}

.event-info {
    display: flex;

    .image-container {
        padding: 0;

        img {
            height: 20rem;
        }
    }

    .copy {
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 1rem 3rem;
        }
    }
}
